<div class="unassigned">
  {{#each unassigned as |todo|}}
    <div class="cards">
      <span class="todo_project">{{todo.project}}</span>
      <button {{action "assign" todo}} class="assign_btn"></button>
      {{#link-to  "todos.todo" todo class="toggle_link"}}x{{/link-to}}
    </div>
  {{/each}}
</div>

<div class="assigned">
  {{#each assigned as |todo|}}
    <div class="cards">
      <span class="todo_project">{{todo.project}}</span>
      <span class="todo_status">{{todo.status}}</span>
    </div>
  {{/each}}
</div>

<div class="details_section {{if isActiveRoute "hidden"}}">
 {{outlet}}
</div>
